html {
    font-family: "Hiragino Maru Gothic Pro", Osaka, "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

#title {
    position: relative;
    font-size: 36pt;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    background: #ecf0f1;
    height: 120px;
    z-index: 1;
}

#title-text {
    position: absolute;
    left: 50%;
    margin-left: -480px;
    height: 80px;
    width: 960px;
    bottom: 50%;
    margin-bottom: -40px;
    text-align: center;
    vertical-align: text-bottom;
}

#start-screen {
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -480px;
    width: 960px;
    text-align: center;
}

.btn {
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20pt;
    padding: 12px;
    border-radius: 5px;
    color: #ecf0f1;
    background: #2980b9;
    margin-top: 60px;
}

.btn ~ .btn {
    margin-top: 20px;
}

.btn:hover {
    background: #3498db;
    color: black;
}

#main {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1000px;
    width: 960px;
    display: none;
    position: relative;
}

#help {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1000px;
    width: 960px;
    display: none;
}

#info {
    padding: 0px 10px;
}

#question {
    font-size: 30pt;
}

#def {
    font-size: 18pt;
}

#meaning {
    font-family: 'Lucida Bright', Georgia, serif;
    color: #707070;
}

.mod {
    font-size: 15pt;
    color: #ecf0f1;
    background: #e74c3c;
    float: left;
    margin-right: 5px;
    padding: 0px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.mod:hover {
    background: #e74c3c;
}

.space {
    color: white;
    float: left;
    width: 200px;
}

#scoreboard {
    position: absolute;
    top: 0px;
    right: 0px;
    background: #ecf0f1;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    text-align: right;
}

#score {
    font-family: 'Lucida Bright', Georgia, serif;
    font-size: 12pt;
}

.lb-text {
    color: #3498db;
}

#mult {
    font-size: 16pt;
}

.flash {
  -moz-animation: flash 0.5s ease-out;
  -moz-animation-iteration-count: 1;
  -webkit-animation: flash 0.5s ease-out;
  -webkit-animation-iteration-count: 1;
  -ms-animation: flash 0.5s ease-out;
  -ms-animation-iteration-count: 1;
}

@-webkit-keyframes flash {
    0% { background-color: #3498db;}   
    100% {background-color: none;}
}

@-moz-keyframes flash {
    0% { background-color: #3498db;}   
    100% {background-color: none;}
}

@-ms-keyframes flash {
    0% { background-color: #3498db;}
    100% {background-color: none;}
}

.flash-red {
  -moz-animation: flashr 0.5s ease-out;
  -moz-animation-iteration-count: 1;
  -webkit-animation: flashr 0.5s ease-out;
  -webkit-animation-iteration-count: 1;
  -ms-animation: flashr 0.5s ease-out;
  -ms-animation-iteration-count: 1;
}

@-webkit-keyframes flashr {
    0% { background-color: #e74c3c;}   
    100% {background-color: none;}
}

@-moz-keyframes flashr {
    0% { background-color: #e74c3c;}   
    100% {background-color: none;}
}

@-ms-keyframes flashr {
    0% { background-color: #e74c3c;}
    100% {background-color: none;}
}

#time-bar {
    padding: 3px;
    border-radius: 8px;
    background-image: linear-gradient(left, #3498db 50%, #ecf0f1 50%);
    background-image: -o-linear-gradient(left, #3498db 50%, #ecf0f1 50%);
    background-image: -moz-linear-gradient(left, #3498db 50%, #ecf0f1 50%);
    background-image: -webkit-linear-gradient(left, #3498db 50%, #ecf0f1 50%);
    background-image: -ms-linear-gradient(left, #3498db 50%, #ecf0f1 50%);   
}

textarea:focus {
    outline: 0;
}

textarea {
    border: 0;
    resize: none;
    background-color: #ecf0f1;
    width: 100%;
    height: 60px;
    padding: 5px 10px;
    font-size: 25pt;
    font-family: "Hiragino Maru Gothic Pro", Osaka, "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}